<launch>
  <!-- Perception assembly: mocap + estimator. Does not start NMPC. -->
  <arg name="server" default="127.0.0.1" />
  <arg name="port" default="3883" />
  <arg name="tracker" default="pose_0" />
  <arg name="ns" default="ugv1" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="world_frame" default="world" />
  <arg name="estimator_frame" default="estimator" />

  <include file="$(find agilex_estimator)/launch/mocap.launch">
    <arg name="server" value="$(arg server)" />
    <arg name="port" value="$(arg port)" />
    <arg name="tracker" value="$(arg tracker)" />
  </include>

  <include file="$(find estimator_vrpn_ugv_state)/launch/vrpn_ugv_state_estimator.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="imu_topic" value="$(arg imu_topic)" />
    <arg name="pose_topic" value="/vrpn_client_node/$(arg tracker)/pose" />
    <arg name="world_frame" value="$(arg world_frame)" />
    <arg name="estimator_frame" value="$(arg estimator_frame)" />
  </include>
</launch>
