<?xml version="1.0"?>
<launch>
  <arg name="model_file" default="$(find scout_description)/urdf/scout_visual.urdf"/>
  <arg name="gui" default="false"/>

  <include file="$(find scout_bringup)/launch/description.launch">
    <arg name="model_file" value="$(arg model_file)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_bringup)/rviz/model_display.rviz"/>
</launch>
