<launch>

    <arg name="port_name" value="/dev/ttyUSB0" />
    <arg name="simulated_robot" value="false" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="robot_namespace" default="/" />

    <include file="$(find scout_base)/launch/scout_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="simulated_robot" default="$(arg simulated_robot)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
        <arg name="robot_namespace" value="$(arg robot_namespace)" />

    </include>

</launch>
