<launch>
  <!-- Estimator + unicycle NMPC. Do not start until estimator is confirmed. -->
  <arg name="server" default="127.0.0.1" />
  <arg name="port" default="3883" />
  <arg name="tracker" default="pose_0" />
  <arg name="ns" default="ugv1" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="auto_start_tracking" default="false" />

  <include file="$(find agilex_mocap)/launch/scout_estimator.launch">
    <arg name="server" value="$(arg server)" />
    <arg name="port" value="$(arg port)" />
    <arg name="tracker" value="$(arg tracker)" />
    <arg name="ns" value="$(arg ns)" />
    <arg name="imu_topic" value="$(arg imu_topic)" />
  </include>

  <include file="$(find unicycle_reference_trajectory)/launch/ugv_unicycle_reference_trajectory.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>

  <include file="$(find unicycle_ugv_controller)/launch/ugv_unicycle_nmpc_controller.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="vrpn_rigid_body" value="$(arg tracker)" />
    <arg name="auto_start_tracking" value="$(arg auto_start_tracking)" />
    <arg name="cmd_vel_topic" value="/cmd_vel" />
  </include>
</launch>
