<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/imu" />
  <arg name="baud" default="115200" />
  <arg name="topic" default="imu/data_raw" />
  <arg name="frame_id" default="imu_link" />
  <arg name="poll_rate_hz" default="500" />
  <arg name="print_packets" default="false" />

  <include file="$(find agilex_onboard_imu)/launch/imu_msg.launch">
    <arg name="port" value="$(arg port)" />
    <arg name="baud" value="$(arg baud)" />
    <arg name="topic" value="$(arg topic)" />
    <arg name="frame_id" value="$(arg frame_id)" />
    <arg name="poll_rate_hz" value="$(arg poll_rate_hz)" />
    <arg name="print_packets" value="$(arg print_packets)" />
  </include>
</launch>
