<launch>
  <include file="$(find xgc2_camera_driver)/launch/ros_image_rtp.launch">
    <arg name="image_topic" value="/camera/infra1/image_rect_raw" />
    <arg name="source_id" value="infra1" />
    <arg name="frame_id" value="camera_infra1_optical_frame" />
    <arg name="width" value="848" />
    <arg name="height" value="480" />
    <arg name="rtp_port" value="5008" />
    <arg name="control_socket" value="/tmp/xgc2/media/infra1.sock" />
  </include>
</launch>
